  <style type="text/css">
    video {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 300px;
        z-index: -1;
    }
    
    .jumboBg {
        background: transparent;
    }
    
    .jumboContainer {
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .topContainer {
        background-color: white;
    }
    
    .iconify {
        color: #B39137;
    }
  </style>

    <header>
        <video id="bgVideo" autoplay loop>
            <source src="images/detectiontest.webm" type="video/webm" />
        </video>
      <div class="jumbotron jumboBg">
        <div class="container jumboContainer p-5">
          <div class="row">
            <div class="col-12">
              <img src="images/beebitLogo.svg" class="mx-auto d-block mb-2" alt="BeeBit Logo" />
              <h1 class="text-center">Introducing BeeBit Hive</h1>
              <p class="text-center lead">A real-time, up to date person counter for your smart building solution</p>
              <p class="text-center text-muted">The BeeBit Hive is a revolutionary new IoT (Internet of Things) system currently being developed by BeeBit, combining a camera, a computer, and a set of algorithms into a Bee which can tell you how many people it can see right now. If you want to learn more about how BeeBit Hive could work for you, check out the below scenarios that might suit you.</p>
              <hr class="my-4">
              <p class="text-center">
                <a class="btn btn-primary btn-lg mr-2" href="#why" role="button">Learn more</a>
                <a class="btn btn-secondary btn-lg" href="knowledge">How it Works</a>
              </p>
            </div>
          </div>
        </div>
        <small>&copy; 2002 Intel</small>
      </div>
    </header>
    <section class="topContainer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-5 text-center">
            <a name="why"></a>
            <h2>Why BeeBit Hive?</h2>
		    
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" data-icon="mdi:weather-lightning" alt="140x140" style="width: 140px; height: 140px;" data-holder-rendered="true">
            <h3>Lower Energy Consumption</h3>
            <p>Control air conditioning units based on how many people are detected, and where</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" alt="140x140" style="width: 140px; height: 140px;" data-icon="mdi:peace" data-holder-rendered="true">
            <h3>Improve Peace of Mind</h3>
            <p>Secure. Reliable. Improved comfort conditions.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" alt="140x140" style="width: 140px; height: 140px;" data-icon="fe:activity" data-holder-rendered="true">
            <h3>Traffic Analysis</h3>
            <p>Detect congestion in your building. Discover popular routes and entrances and adjust your infrastructure accordingly.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" data-icon="mdi:ethernet-cable" alt="140x140" style="width: 140px; height: 140px;" data-holder-rendered="true">
            <h3>Plug and Play</h3>
            <p>NubeIO already monitoring your building? Our devices will plug right in. No hassle.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" data-icon="mdi:upload-outline"  alt="140x140" style="width: 140px; height: 140px;"class="iconify" data-icon="mdi:web" data-holder-rendered="true">
            <h3>Scalable</h3>
            <p>One device? How about 50? Multiple buildings? We have the solution for you.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="iconify" data-icon="mdi:web" alt="140x140" style="width: 140px; height: 140px;" data-holder-rendered="true">
            <h3>Web Based</h3>
            <p>No additional software needed. Control your devices and view statistics with our gorgeous web portal.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="topContainer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-8 mx-auto text-center">
          <hr />
          
		    <h2 class="text-center">HVAC Automation With BeeBit Hive</h2>
		    <p>While convential HVAC automation systems can adjust the air conditioning based on environmental factors, they fail to account for one crucial factor. Every human generates a large amount of heat, and in spaces where people gather the combined effect can be substantial. The BeeBit Hive uses cutting-edge technology to determine how many people are in your building right now and shares this information with your air conditioning controller, allowing room temperature to be kept stable as people enter and leave, or even to allow operation to completely subside if no people are detected for a period of time.</p>
		    

		    <!--<ul class="list-group">
              <li class="list-group-item list-group-item-primary">Counts people within a room or area with up to a 95% accuracy.</li>
              <li class="list-group-item">Operates with one Bee or multiple, to meet the needs of different building sizes and layouts.</li>
              <li class="list-group-item">LoRa technology allows flexible deployment, Bees can be set up in any location where power is available.</li>
              <li class="list-group-item">Built-in integration with Nube iO HVAC automation systems, or provides data output in standard formats to connect to other types of HVAC automation system.</li>
            </ul> -->
		    <h4 class="text-center">Benefits</h4>
		    <p>Keeping the temperature within a room level requires less effort from an air conditioning system than allowing the room to heat up and then cooling it down. Dynamic operation of the air conditioning based on the presence of people maximises both efficiency and comfort, ensuring that it always runs when people are present, and never runs when people are not. These two combined can improve the efficiency of your air conditioning system by up to 10%, potentially saving you thousands of dollars per year in energy costs.</p>
		    
          <hr />
          <h2 class="text-center">People Counting With BeeBit Hive</h2>
          <p>Have you ever had to count a large number of people, while they're all moving around, entering or leaving, or blocking your view of others behind them? Not a simple or quick task. The BeeBit Hive can automatically do this for you in a second and give you a simple answer with no hassle, allowing you to focus on the important work that matters to your business operations.</p>
          <h4 class="text-center">Benefits</h4>
          <p>The BeeBit Hive allows for you to understand more about not just how many people are counted, but also when they are counted. You could know how many people pass through an area in a day, what times your store has the most customers, how many people attend a lecture every week, or more. Your business operations can be improved based on this information, perhaps upgrading infrastructure ahead of time to support upcoming expected growth in people, or targeting promotional efforts during those times when the most people are present (or the least people). BeeBit Hive provides endless possibilities for improvement, as you can automatically be provided with the real data whenever you need it, rather than using more limited traditional methods of counting.

            Send us an enquiry today to discover how BeeBit Hive can take your smart building site to the next level.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <hr />
      <div class="row">
        <div class="col-lg-12 col-md-8 mx-auto">
          <div class="jumbotron">
            <div class="row text-center">
              <div class="text-center col-12">
                <h2>Contact us</h2>
              </div>
              <div class="text-center col-12">
                <!-- CONTACT FORM https://github.com/jonmbake/bootstrap3-contact-form -->
                <form id="feedbackForm" class="text-center">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" aria-describedby="nameHelp">
                    <span id="nameHelp" class="form-text text-muted" style="display: none;">Please enter your name.</span>
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" aria-describedby="emailHelp">
                    <span id="emailHelp" class="form-text text-muted" style="display: none;">Please enter a valid e-mail address.</span>
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message" aria-describedby="messageHelp"></textarea>
                    <span id="messageHelp" class="form-text text-muted" style="display: none;">Please enter a message.</span>
                  </div>
                  <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg"> Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>