    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mb-4 mt-2 text-center">
            <h2>Meet The Team</h2>
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/hayden.jpg" data-holder-rendered="true">
            <h3>Hayden</h3>
            <h4><small class="text-muted">Security Analyst | Designer</small></h4>
            <p>Hayden has developed the front-end interfaces of the project thus far. His knowledge of Cyber Security will aid the team in securing all traffic on the BeeBit network and protect it from any hostile threats.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/person.jpg" data-holder-rendered="true">
            <h3>Marcel</h3>
            <h4><small class="text-muted">Project Manager</small></h4>
            <p>Marcel brings prior experience in project management and organisation, as well as documentation of complex IT systems to the BeeBit team. He keeps the BeeBit Hive project on track and on time, and manages, maintains, and often creates the records and documentation for the project and the BeeBit Hive system.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/winfried.jpeg" data-holder-rendered="true">
            <h3>Winfried</h3>
            <h4><small class="text-muted">System Design | Development</small></h4>
            <p>Winfried is a seasoned technologies developer and really likes getting people excited about things. He likes getting his hands dirty with Hardware and Software, and is working on getting the people counting algorithm rock solid.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/lucy.jpeg" data-holder-rendered="true">
            <h3>Lucy</h3>
            <h4><small class="text-muted">Communications Director | Security Analyst</small></h4>
            <p>Lucy is the head of communications for our company, managing day-to-day updates and 
keeping our employees and clients in 'the loop' of what our product and client needs.
Lucy has also helped develop major project reports along-side her peers and is looking forward to 
delving into the security aspects of the company's projects.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/diesel.jpg" data-holder-rendered="true">
            <h3>Diesel</h3>
            <h4><small class="text-muted">Hardware Engineer | Development</small></h4>
            <p>Diesel is the lead hardware engineer and has experience with embedded electronics. His programming knowledge and electronics expertise make for a strong skill set when working with the IoT devices used in the BeeBit project and is excited to see this technology utilised.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <img class="rounded-circle" alt="140x140" style="width: 140px; height: 140px;" src="images/person.jpg" data-holder-rendered="true">
            <h3>Ifran</h3>
            <h4><small class="text-muted">Backend Engineer | System Development</small></h4>
            <p>
	    Ifran has prior experiences developing backend enterprise software. He is in charge with developing the backend of the system. His programming experience and knowledge of software design is the fundamental bridge between the raw data and user experience to keep the beehive buzzing.
	    </p>
          </div>
        </div>
        <div class="row"> </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <h1 align="center">The BeeBit Hive Project</h1>
        <p class="lead">Data gathering is the principal pursuit of automation. BeeBit handles the people side. </p>
        
        <p>The project to create the BeeBit Hive first began when Nube iO identified limitations of their <abbr title="Heating, Ventilation and Air Conditioning">HVAC</abbr> automation systems, as collected data was missing a variable - people count. For NubeIO, this meant seeking an IoT solution to the problem to fit with their existing product line. BeeBit is an answer to this.</p>
        <p>During development we have identified many novel efficiencies and other ways in which the system could be used, and hope to take it much further.</p>
        <div class="card-group m-5">

            <div class="card">
              <img src="images/debian-logo.gif" class="card-img-top" alt="Debian">
              <div class="card-body">
                <h5 class="card-title">Linux Systems <small class="text-muted">Environment</small></h5>
                <p class="card-text">To Help us with cross-compilation, we're using Debian. It allows us to <attr title="Make a program work on multiple computer architectures">cross-compile</attr> our <b>code</b> and streamline our development.</p>
              </div>
            </div>


            <div class="card">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="card-img-top" alt="Git">
              <div class="card-body">
                <h5 class="card-title">GitHub Projects <small class="text-muted">Management</small></h5>
                <p class="card-text">GitHub projects helps with all our project management activities. It's our <b>one stop shop</b> for hosting all our code and managing out issues.</p>
                <a class="btn btn-primary" href="https://github.com/DieselFuel147/CSIT321">Our Repository &raquo;</a>
              </div>
            </div>


            <div class="card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Visual_Studio_Code_1.18_icon.svg/512px-Visual_Studio_Code_1.18_icon.svg.png" class="card-img-top" alt="VSCode">
              <div class="card-body">
                <h5 class="card-title">Visual Studio Code <small class="text-muted">Automation</small></h5>
                <p class="card-text">We use Visual Studio Code. It's a cross platform <attr title="Integrated Development Environment">IDE</attr> from microsoft that helps us automate a <em>whole heap</em> of tasks.</p>
              </div>
            </div>

        </div>
        <p>Due to the complexities involved and limited initial understanding of how the system would need to work, we chose to take an <b>Agile approach</b> to the project, using a <b>Scrum-Kanban</b> hybrid methodology. The project consists of several phases of variable length, each of which will result a working version of the Hive with a subset of the required features and functionality of the final system. The tasks required to complete the features in each phase are prioritised in a Kanban board shared between our team of expert developers, and worked on in order of their priority until the phase is complete. Every component of the system is designed, refined, and built in small pieces from the bottom-up, so that we can be sure they all meet the highest quality standards.</p>
        
        <p>Supporting our efforts in this project are a few key software tools. Debian-based Linux operating systems are used for our main testing environment, to match the final system. Development occurs using Visual Studio Code allowing the same development environment for all programming languages used in development, alongside <abbr title="Quick Emulator">QEMU</abbr> to allow code for the Bees to be compiled directly on development computers. Collaboration within our team operates through a GitHub repository for our code, and Google Drive for our documentation, allowing all team members access to the latest versions at all times and places.
      </p>
      <p>This grand undertaking is expected to be completed over February to November 2019, and we hope you all watch this space for updates over the course of the year.</p>
    </div>
  </div>
</div>