<!DOCTYPE HTML>
<html>
	<head>
		<title>BeeBit</title>
	</head>
	<body>
		<!-- navigation header. Needs to be moved to a side menu at some point -->
		<div id="navmenu">
			Logo Goes Here<!-- <img src="beebitlogo.jpg.png.gif.exe" alt="BeeBit Logo"> -->
			<a href="Main.html">Overview</a>
			<a href="HVACAutomation.html">HVAC Automation</a>
			<a href="PeopleCounting.html">People Counting</a>
			<a href="Technology.html">How It Works</a>
			<a href="Project.html">Project</a>
			About BeeBit
			<a href="Contact.html">Contact Us</a>
		</div>
		
		<div id="content">
			<h2>About BeeBit</h2>
			
			<p>BeeBit was founded in 2019 by a group of six students from the Univeristy of Wollongong completing our final year project subject CSIT321. We have been closely collaborating with Nube iO since our formation, on what would eventually become the BeeBit Hive project.  BeeBit operates on a philosophy of providing efficient, effective, and usable solutions to business problems through automation and innovative use of information technologies.</p>
			
			<h3>The BeeBit Team</h3>
			
			<h4>Lucy</h4>
			<p>Communication Coordinator? Security Analyst? Skills: Programming, Security, Testing, Project Management, UML documentation, Arduino. Responsibilities: Communicating with the client and other parties involved in the project, maintaining required long-term relationships with them, Will work on data packet encryption in future.</p>
			<br>
			<h4>Marcel</h4>
			<p>Marcel is the Project and Documentation Manager of BeeBit. He brings prior experience in project management and organisation, as well as documentation of complex IT systems to the BeeBit team. He keeps the BeeBit Hive project on track and on time, and manages, maintains, and often creates the records and documentation for the project and the BeeBit Hive system.</p>
			<br>
			<h4>Win</h4>
			<p>Device Developer? Algorithm Developer? Skills: Programming, Embedded Electronics, Electronic Comms, Electronics Production, Computer Vision tech. Responsibilities:- Experimenting with different algorithms and hardware to determine the most suitable ones for our project.- Might work on LoRa stuff in future.</p>
			<br>			
			<h4>Diesel</h4>
			<p>Device Developer? Algorithm Developer? Skills: Programming, Electrical Engineering, RF communications, rpi/arduino boards. Responsibilities: Experimenting with different algorithms and hardware to determine the most suitable ones for our project.Might be involved in further hardware stuff?</p>
			<br>			
			<h4>Ifran</h4>
			<p>Backend Developer? Something else? Skills: Programming, Web Dev, RPI boards, UML diagrams, Linux, Security Responsibilities: - Developing the node.js backend to store and analyse data - In future maybe working on connections to nube io software.</p>
			<br>			
			<h4>Hayden</h4>
			<p>Frontend Developer? Security Analyst? Skills: Programming, Cyber Security, RPI/arduino boards, Testing Responsibilities: - Has developed frontend so far.- Will also work on data packet encryption in future.</p>
			<br>			
		</div>
		<footer>
			<p>&copy; 2019 BeeBit</p>				
		</footer>
	</body>
</html>
