<!DOCTYPE HTML>
<html>
	<head>
		<title>BeeBit</title>
	</head>
	<body>
		<!-- navigation header. Needs to be moved to a side menu at some point -->
		<div id="navmenu">
			Logo Goes Here<!-- <img src="beebitlogo.jpg.png.gif.exe" alt="BeeBit Logo"> -->
			<a href="Main.html">Overview</a>
			<a href="HVACAutomation.html">HVAC Automation</a>
			<a href="PeopleCounting.html">People Counting</a>
			<a href="Technology.html">How It Works</a>
			<a href="Project.html">Project</a>
			<a href="About.html">About BeeBit</a>
			Contact Us
		</div>
		
		<div id="content">
			<h2>Contact BeeBit</h2>
			
			<p>If you have any enquiries about BeeBit or the BeeBit Hive, please let us know using the form and we'll respond as soon as we can.</p>
			
			<form method="POST" action="">
				Name: <input type="text">
				Contact Email: <input type="text">
				<br>
				Enquiry
				<br>
				<textarea rows="6" cols="55"></textarea>
				<br>
				<input type="submit" value="Send Enquiry" width="80" height="5">
			</form>
		</div>
		<footer>
			<p>&copy; 2019 BeeBit</p>				
		</footer>
	</body>
</html>
