<!DOCTYPE HTML>
<html>
	<head>
		<title>BeeBit</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
	</head>
	<body>
		<!-- navigation header. Needs to be moved to a side menu at some point -->
		<header>
		<div class="container mb-5">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		    <a class="navbar-brand" href="#">BeeBit</a>
		    <div class="collapse navbar-collapse" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item active">
			            <a class="nav-link" href="#">Overview</a>
			        </li>
			        <li class="nav-item">
			            <a class="nav-link" href="HVACAutomation.html">HVAC Automation</a>
			        </li>
			        <li class="nav-item ">
			            <a class="nav-link" href="PeopleCounting.html">People Counting</a>
			        </li>
			        <li class="nav-item ">
			            <a class="nav-link" href="Technology.html">How It Works</a>
			        </li>
			        <li class="nav-item ">
			            <a class="nav-link" href="Project.html">Project</a>
			        </li>
			        <li class="nav-item ">
			            <a class="nav-link" href="About.html">About BeeBit</a>
			        </li>
			        <li class="nav-item ">
			            <a class="nav-link" href="Contact.html">Contact Us</a>
			        </li>
			    </ul>
		    </div>
		</nav>
		</div>
		</header>

<main role="main">
		<div id="content" class="container pt-md-5 mx-auto">
			<h2>BeeBit Hive Overview</h2>
			
			<p>The BeeBit Hive is a revolutionary new IoT (Internet of Things) system currently being developed by BeeBit, combining a camera, a computer, and a set of algorithms into a Bee which can tell you how many people it can see right now. If you want to learn more about how BeeBit Hive could work for you, just select what kind of scenario best describes your need.</p>
			
			<div class="card-deck mb-3 text-center">
			    <div class="card" style="width: 18rem;">
                  <img src="" class="card-img-top img-fluid img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">HVAC Automation</h5>
                    <p class="card-text">Automate building systems using raw data.</p>
                    <a href="HVACAutomation.html" class="btn btn-primary">Let's See</a>
                  </div>
                </div>
		        <div class="card" style="width: 18rem;">
                  <img src="https://i.ytimg.com/vi/408IrCzj2HE/hqdefault.jpg" class="card-img-top img-fluid img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">People Counting</h5>
                    <p class="card-text">Count traffic through an area, or in an area!</p>
                    <a href="PeopleCounting.html" class="btn btn-primary">Let's See</a>
                  </div>
                </div>
            </div>
		</div>
		
		<footer class="container">
			<p>&copy; 2019 BeeBit</p>				
		</footer>
		
</main>
	</body>
</html>
