<!DOCTYPE HTML>
<html>
	<head>
		<title>BeeBit</title>
	</head>
	<body>
		<!-- navigation header. Needs to be moved to a side menu at some point -->
		<div id="navmenu">
			Logo Goes Here<!-- <img src="beebitlogo.jpg.png.gif.exe" alt="BeeBit Logo"> -->
			<a href="Main.html">Overview</a>
			<a href="HVACAutomation.html">HVAC Automation</a>
			People Counting
			<a href="Technology.html">How It Works</a>
			<a href="Project.html">Project</a>
			<a href="About.html">About BeeBit</a>
			<a href="Contact.html">Contact Us</a>
		</div>
		
		<div id="content">
			<h2>People Counting With BeeBit Hive</h2>
			
			<p>Have you ever had to count a large number of people, while they're all moving around, entering or leaving, or blocking your view of others behind them? Not a simple or quick task. The BeeBit Hive can automatically do this for you in a second and give you a simple answer with no hassle, allowing you to focus on the important work that matters to your business operations.</p>

			<h4>Features</h4>
			<ul>
				<li>Counts people within a room or area with a 95% accuracy.</li>
				<li>Operates with one bee or multiple, to allow full coverage of the area you need to count in.</li>
				<li>LoRa technology allows flexible deployment, Bees can be set up in any location where power is available, across wide geographical areas.</li>
				<li>Automatically collects and stores counts, with enough space to retain years of data.</li>
				<li>Web interface provides analysis, trends, and insights in an easy-to-understand graphical form.</li>
			</ul>
			
			<h4>Benefits</h4>
			
			<p>The BeeBit Hive allows for you to understand more about not just how many people are counted, but also when they are counted. You could know how many people pass through an area in a day, what times your store has the most customers, how many people attend a lecture every week, or more. Your business operations can be improved based on this information, perhaps upgrading infrastructure ahead of time to support upcoming expected growth in people, or targeting promotional efforts during those times when the most people are present (or the least people). BeeBit Hive provides endless possibilities for improvement, as you can automatically be provided with the real data whenever you need it, rather than using more limited traditional methods of counting.</p>
			
			<p>Find out more about <a href="Technology.html">how BeeBit Hive works</a> or <a href="Contact.html">Send us an enquiry</a> to find out what BeeBit Hive could do for your business.</p>
		</div>
		
		
		
		<footer>
			<p>&copy; 2019 BeeBit</p>				
		</footer>
	</body>
</html>
