
<div class="content-wrapper">
  <section class="content-header">
    <h1>{{currDevice.description}} Boxes
    <small>Specify additional areas in the camera-view to track seperately</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/dashboard/bees/{{currDevice.uuid}}"><i class="fa fa-cube"></i> Device</a></li>  
      <li><a href="/dashboard/bees/{{currDevice.uuid}}/boxes"><i class="fa fa-th-large"></i> Boxes</a></li>
    </ol>
  </section>

  <span id="beeID" class="hidden">{{uuid}}</span>

  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Image Preview</h3>
          </div>
          
          <div class="box-body">
              <div id="loadIndicator" class="fa-3x" style="text-align: center">
                <i class="fa fas fa-cog fa-spin"></i>
                <small class="text-muted">Loading preview from device...</small>
              </div>
              <img id="previewImg" src="" />
              <canvas id="boxDraw" style="border: solid black 1px"></svg>
          </div> <!-- box-body -->
        </div>
    </div>
    <div class="col-md-6">
        <!-- Form Element sizes -->
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Area Attributes</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
            <input class="form-control input-lg" id="boxName" type="text" placeholder="Area Name">
            </div>
            <div class="form-group">
              <label>X Position</label>
              <input class="form-control input-sm" id="boxX" type="number" min="0" max="1" step="0.001">
            </div>
            <div class="form-group">
              <label>Y Position</label>
              <input class="form-control input-sm" id="boxY" type="number" min="0" max="1" step="0.001">
            </div>
            <div class="form-group">
              <label>Width</label>
              <input class="form-control input-sm" id="boxW" type="number" min="0" max="1" step="0.001">
            </div>
            <div class="form-group">
            <label>Height</label>
              <input class="form-control input-sm" id="boxH" type="number" min="0" max="1" step="0.001">
            </div>
            <div class="form-row">
                <div class="col-xs-6" style="text-align: left"><button type="submit" id="applyBoxes" class="btn btn-primary">Apply All</button></div>
                <div class="col-xs-6" style="text-align: right"><button type="submit" id="delBox" class="btn btn-danger">Remove</button></div>
            </div>
            <div id="updateNotify" class="form-row">
              <div class="col-xs-12" style="margin-top: 5px">
                <div class="alert alert-info" role="alert">
                  Areas updated
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

      </div>

    </div>
  </section>

</div>

<script type="text/javascript" src="/js/device_capture.js"></script>