<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Device Configuration for {{currDevice.description}}
        <small>Adjust parameters for your beebit-iot device!</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/dashboard/bees/{{currDevice.uuid}}"><i class="fa fa-cube"></i> Device</a></li>  
        <li><a href="/dashboard/bees/{{currDevice.uuid}}/configure"><i class="fa fa-cogs"></i> Configure Device</a></li>
      </ol>
    </section>

    <span id="beeID" class="hidden">{{uuid}}</span>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-6" id="configDiv">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Device Configuration</h3>
            </div>
            <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <th>option</th>
                <th>value</th>
              </thead>
              <tbody id="configForm">
              </tbody>
            </table>
            
            <button type="button" id="submitconfig" class="btn btn-default btn-lg pull-right">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
            </button>
          </div>
          </div>
        </div>
        <div class="col-md-6" id="networkDiv">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Network Setup</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <label>Network SSID</label>
                <select class="form-control" id="networkSelect">
                  <option>Network 1</option>
                  <option selected>Network 2</option>
                </select>
              </div>
              <div class="form-group">
                <label>Passcode</label>
                <input type="password" class="form-control" id="passcodeInput" placeholder="Enter Passcode" />
              </div>
              <button class="btn btn-default btn-lg" id="submitNetwork"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Connect</button>
              <div class="alert alert-info" role="alert" id="netUpdateMsg">
                Network Updated. Device connecting...
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- /.content-wrapper -->
  <script type="text/javascript" src="/js/device_configure.js"></script>