<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>BeeBit</b> Hive</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to view your hive</p>

      <form>
        <div class="form-group has-feedback">
          <input type="username" name="username" class="form-control" placeholder="Username">
          <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" class="form-control" placeholder="Password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <span id="feedback"></span>

        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button id="submitbtn" type="submit" class="btn btn-block btn-warning">Sign In</button>
          </div>
        </div>
      </form>

      <a class="nav-link" href="/dashboard/register">Register a new account</a>
    </div>
  </div>
<script type="text/javascript" src="/js/User_SignInAccount.js"></script>